#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  justify-content: center;
}

.edit-button {
  position: fixed;
  top: 10px;
  left: 10px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.edit-button:hover,
.edit-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.edit-button:hover {
  transform: translateY(-1px);
}

.edit-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.add-item {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
  :focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
}

.input-container {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.input-add-item {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.submit-button {
  padding: 12px 20px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:focus {
  outline: none;
}

.edit-container {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.input-edit-item {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 0 10px 10px 0;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.delete-button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f8c6c6;
  color: #721c24;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #f5a9a9;
}

.delete-button:focus {
  outline: none;
}

.spacer {
  height: 85px;
}

/* Tooltip */
.tooltip-button-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
}

.tooltip-button {
  background-color: #213547;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-message {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.tooltip-button-container:hover .tooltip-message {
  visibility: visible;
  min-width: 250px;
  max-width: 600px;
}

.instructions {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-height: 1.5rem;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-bottom: 1rem;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(10px, -50%);
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000;
}

/* ShimmerText.css */

.link-to-copy {
  position: relative;
  font-size: 24px;
  overflow: hidden;
}

.link-to-copy::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 1;
}

.shimmer-active::before {
  animation: shimmer 1.5s forwards;
  opacity: 1;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
